
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap');



:root {
  --primary-color: rgb(52, 145, 16);
  --primary-color-darker: rgb(5, 77, 35);
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red ; */
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

}

.titulo{
  text-align: center;
}

form {
display: flex;
gap: 2rem;
justify-content: center;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 2.8rem;
  width:15rem;
  border-radius:5px;
}


form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 2.8rem;
  width: 9rem;
  cursor: pointer;
  border-radius:5px;
}


form input:focus {
  outline: 1px solid var(--primary-color);
}

form button:hover {
  background: var(--primary-color-darker);
}



